@media all and (min-width: 601px)
{

body
{
  margin: inherit;
  max-width: 1440px;
}

.conteneurheader
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
  }

.navigation
  {
    margin-left: 62%;
  }


header ul
  {
    display: flex;
    list-style: none;
  }

header ul li
  {
    margin-left: 28px;
  }

header ul li a:hover 
  {
    border-top: 2px solid #0065fc;
    padding-top: 21px;
    color: #0065fc;
  }



.IconeMap
  {
    background-color: #F2F2F2;
    padding: 12% 12%;
    border-radius: 20% 0 0 20%;
  }

.ChampDeSaisie
  {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 10% 100% 10% 100%;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
  }

.loupe
  {
    display: none;
  }

.BoutonRecherche
  {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 13px 13px 0;
    font-size: 100%;
  }

.SectionFiltre
  {
    display: flex;
    margin: 3% 0% 0% 0%;
  }

.PlacementFiltre
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
  }

.PlacementTitre
  {
    padding: 5px;
  }

.TitreFiltres
  {
    padding: 0% 1% 1% 1%;
  }

.FormeFiltre
{
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 32px;
  transition-duration: 0.1s;
  font-weight: bold;
  margin: 0px 10px 5px 0px;
}

.FormeFiltre:hover
{
  background: #0065fc;
  color: #fff;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

  .IconeFiltre
        {
            background-color: #DEEBFF;
            border-radius: 100%;
            min-height: 56px;
            min-width: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

 

  

.search
{
  margin: 2%;
}
        .Main
        {
            display: flex;
            margin: 2%;
        }

  .MainClass
    {
        background-color: #f2f2f2;
        border-radius: 15px;
        width: 62%;
        padding: 20px;
        margin: 0 25px 0 0;
    }

.Resultats
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.OffresMain
  {
    background-color: white;
    border-radius: 20px;
    width: 30%;
    margin: 0 5px 20px 5px;
    box-shadow: 0 0 10px #0000002e;
  }

  .OffresMain:hover
{
  transform: scale(1.05);
  
}

.PhotosMain
  {
    border-radius: 20px 20px 0 0;
    
    width: 230px;
    height: 147px;
    margin: 2% 2% 1% 2%;
    object-fit: cover;
    max-width: 96%;
    max-height: 100%;

  }

  .OffresMain h4 
  {
    margin: 0% 0% 0% 5%;
  }

  .OffresMain p
  {
    margin: 3% 0% 0% 5%;
  }

  .IconeEtoilesNotation
  {
    margin: 5% 0% 3% 5%;
  }



.CadreGrisAside
{
  border-radius: 20px;
  width: 32%;
  background-color: #f2f2f2;
  
}

.ResultatsAside
{
  display: flex;
  flex-direction: column;
}

.TitreAside
{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 10% 0% 5% 0%;
}

.OffresAside
  {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000002e;
    transition-duration: 0.1s;
    margin: 0% 8% 8% 8%;   
  }

.Agencement
{
  display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.OffresAside:hover
{
  transform: scale(1.05);
  
}

.PhotosAside
{
  border-radius: 20px 0px 0px 20px;
    width: 130px;
    height: 147px;
    margin: 5% 5% 2% 4%;
    object-fit: cover;
}

.PlacementTxt
{
  margin: 5% 0% 0% 15%;
}

.IconeEtoilesNotationAside
{
  margin: 30% 5% 5% 15%;
}

.IconeEtoilesNotationAside2
{
  margin: 30% 5% 5% 15%;
}


.Activites
{
    margin: 5% 0% 0% 2%;
}



.CadreActivite
{
    
  box-shadow: 0 0 20px #0000002e;
  border-radius: 20px;
  overflow: hidden;
  transition-duration: 0.1s;
}

.CadreActivite:hover
{
  transform: scale(1.05);
  
}

.ResultatsActivites
{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.TitreActivite
{
  margin: 5% 0% 5% 5%;
}

.ResultatsActivites2
{
  margin: 0% 2% 0% 2%;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.block4
{
  margin: 0% 2% 0% 0%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.DimensionPhoto

  {
    width: 100%;
    object-fit: cover;
}






.ParcNationalDesCalanques
{
  margin: 0% 2% 0% 0%; 
}




#Footer
{
    background-color: #F2F2F2;
    width: 100%;
}

.PlacementColonnes
{
  display: flex;
  box-sizing: border-box; 
  padding: 5% 0% 5% 5%;
  margin: 5% 0% 0% 0%;
}

.Colonnes
{
  width: 30%;
}
}