@font-face {
    font-family: "Raleway";
    src: url("Raleway-VariableFont_wght.ttf");
}

*
{
    font-family: Raleway;
}

.navigation
{
    text-align: right;
}

.signup
{
    color: #0065FC;
    font-weight: bold;
}

h1
{
    color: black;
font-weight: bold;
}
.filtres
{
    color: black;
    font-weight: bold;
}
.recherche
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
}

figure
{
    border-color: white;
border-radius: 10px;
}

.marseille
{
    font-weight: bold;
}

.main
{
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 70%;
    
}
#base
{
    display: flex;
    flex-wrap: wrap;
}

.Offres
{
    background-color: white;
    border-radius: 20px;
    padding: 12px;
    width: 40%;
    
}

.photos
{
    border-radius: 20px 20px 0px 0px;
}

.gris
{
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 50%;
}

#cote
{
    position:absolute;
    right: 30px;
    width: 20%;
    
}
