
/* La police */

@font-face {
    font-family: "Raleway";
    src: url("Raleway-VariableFont_wght.ttf");
}

/* J'applique la police à tout le code */

*
{
    font-family: Raleway;
    
}

/* Position du logo en haut a gauche */

.logo
{
  cursor: pointer;
}

/* Ecart de tout le <body> */

#bloc_page
{
    margin: auto;
}

/* HEADER */
.conteneurheader
{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* Onglets du site / emplacement, taille, couleur */

header ul 
{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    color: #0065fc;
  }

  header ul li a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 21px;
    color: #0065fc;
  }
  
  header ul li {
    margin-left: 28px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  /* Onglet s'inscrire */
  .inscrire a {
    color: #0065fc;
    margin-right: 0%;
  }
  
  .inscrire a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 21px;
  }
  
  .inscrire {
    padding-left: 28px;
  }

.navigation
{
    display: flex;
    margin-right: 3%;
}

.inscrire
{
    color: #0065FC;
    margin-right: 0%;
}





/* SECTION NUMERO 1 */


/* Titre principal*/

h1
{
    color: black;
font-weight: bold;
}

/* boutons servant de filtres */

.filtres
{
    color: black;
    font-weight: bold;
}

/* Spécifique au bouton de Recherche */

.recherche
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
}


/* SECTION NUMERO 2 */


/* Titre section 2 */

.marseille
{
    font-weight: bold;
}

/* Cadre gris de la section 2 */

.main
{
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 70%;
    
    
}

/* cases blanches  désignant les offres touchant la section 2 et <aside> */

.Offres
{
    background-color: white;
    border-radius: 20px;
    padding: 12px;
    width: 180px;
    
    
}

#Offres
{
    display: flex;
    justify-content: space-around; /* ca na rien changé*/
    align-items: baseline;
}

#reponse
{
    display: flex;
    justify-content: space-around; /* ca na rien changé*/
    align-items: baseline;
}

/* Bordures des photos section 2 */
.photos
{
    border-radius: 20px 20px 0px 0px;
}

/* Cadre gris de aside */

.gris
{
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 50%;
}

/* Placement de aside */

#cote
{
    position:absolute;
    right: 30px;
    width: 20%;
    
}
#footer
{
    display: flex;
    justify-content: space-around;
}
.footer
{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}
.puces
{
    
    list-style: none;
    
}